<div class="list1">
      <div class="row">
        <h4>Users List</h4>
      </div>
      <table >
        <thead>
          <tr>
            <th>#</th>
            <th>Id</th>
            <th>Etat</th>
            <th>Email</th>
            <th style="text-align: center;">Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of allUsers;let i=index">
            <td>{{i+1}}</td>
            <td>{{item.id}}</td>
            <td>
                <h6 *ngIf="item.etat == '0'">Enabled</h6>
                <h6 *ngIf="item.etat == '1'">Disabled</h6>
            </td>
            <td>{{item.username}}</td>
            <td>
              <!-- <button type="button" class="btn btn-outline-primary" (click)="updateUser1(item.id)">Update1</button> -->

              <button type="button" class="btn btn-outline-primary" >Update</button>
              <button type="button" class="btn btn-outline-primary" *ngIf="item.etat == '0'" (click)="deactivateUser(item.id)">Disable</button>
              <button type="button" class="btn btn-outline-primary" *ngIf="item.etat == '1'" (click)="deactivateUser(item.id)">Enable</button>
              <button type="button" class="btn btn-outline-primary" (click)="deleteUser(item.id)" mat-raised-button>Delete</button>
          

          
            </td>
          

          </tr>
          
        </tbody>
      </table>
    </div>